/*---------------------------------------- Pet Management --------------------------------------------*/

.page {
  padding-left: 40px;
  margin-bottom: 30px;
}

.button-container {
  display: flex;
  width: fit-content;
  border-radius: 4px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.page button {
  padding: 10px 22px;
  font-size: 18px;
  border: none;
  border-bottom: 3px solid transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  background-color: transparent;
  margin: 0;
}

.page button:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* display None */
.list-page {
  background: #fff;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  border-radius: 8px;
  /* display: none; */
}



/*----- Search Bar Section -----*/


/*----- List Section -----*/

.pet-list {
  width: 100%;
  margin: 40px auto 20px auto;
  padding: 8px 10px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.2);
}

.pet-title {
  display: flex;
  margin: 8px 20px;
  align-content: center;
}

.pet-title div {
  padding: 4px;
  text-align: center;
}

.pet-title div:first-child {
  width: 5%;
}

.pet-title div:nth-child(2) {
  width: 15%;
}

.pet-title div:nth-child(3) {
  width: 14%;
}

.pet-title div:nth-child(4) {
  width: 14%;
}

.pet-title div:nth-child(5) {
  width: 14%;
}

.pet-title div:nth-child(6) {
  width: 14%;
}

.pet-title div:nth-child(7) {
  width: 14%;
}

.pet-title div:nth-child(8) {
  width: 10%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.icon-1{
  font-size: 16px;
  color: #101e49;
  cursor: pointer;
  transition: all 0.3s ease;
}

.icon-1:hover{
  font-size: 16px;
  color: #6e92ff;
}

.pet-list .hr {
  width: 93%;
  border-bottom: 0.5px solid #b6b6b6;
  margin: 0 auto;
}

/* Form Styles */

.form-container {
  background: #fff;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
}

h2 {
  text-align: center;
  color: #333;
}

.form-group {
  margin-bottom: 15px;
}

.inline {
  display: flex;
  gap: 15px;
}

.inline>div {
  flex: 1;
}

label {
  display: block;
  margin-bottom: 5px;
  color: #333;
}

input[type="text"],
input[type="number"],
select,
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  transition: border-color 0.3s, box-shadow 0.3s;
}

input[type="file"] {
  border: none;
  padding: 0;
}

input:focus,
select:focus,
textarea:focus {
  border-color: #007BFF;
  box-shadow: 0 0 8px rgba(0, 123, 255, 0.2);
  outline: none;
}

textarea {
  overflow: auto;
}

.form-actions {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

button[type="submit"],
button[type="reset"] {
  width: 48%;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

button[type="submit"] {
  background-color: #007BFF;
  color: #fff;
}

button[type="submit"]:hover {
  background-color: #0056b3;
}

button[type="reset"] {
  background-color: #6c757d;
  color: #fff;
}

button[type="reset"]:hover {
  background-color: #5a6268;
}

.error {
  color: red;
  font-size: 14px;
  margin-top: 5px;
}